body {
    margin: 0;
    line-height: 1.5;
    font-family: 'Arial Narrow', sans-serif;
    background-color:#D0D3D4 
    
}
* {
    box-sizing: border-box;
  }
.salon {
    background-image: url("img/salon.jpg");

    padding: 50px;
    padding-bottom: 15%;
    max-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;

}

.salon-sadrzaj {
    color: pink;
    padding: 10%;
    padding-left: 3%;
}

.salon-sadrzaj h1 {
    font-size: 72px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px red;
}

.salon-sadrzaj p {
    font-size: 32px;
    margin: 0;
    

}

.container {
    padding: 50px 20px;
}

.o-nama h2 {
    font-size: 32px;
}

.o-nama hr {
    width: 100px;
}

h2 {
    font-family: 'Oswald', sans-serif;
}


.vrsta {
    max-width: 100%;
    padding: 20px;
    cursor: pointer;
    
    
     
    

}

.vrsta:hover {
    background-color: pink;
    transition: 0.7s;
    box-shadow: 10px 0 5px rgba(0, 0, 0, 0.2);
}

.vrste {
   /* display: flex;
    justify-content:absolute;*/
        
    display: grid;
    grid-template-columns: 25% 25% 25%;
    place-content: center center;
    margin: 75px 0 20px;
   
}

.vrsta h2 {
    text-align: center;
}


.vrsta img {
    /* jedan od nacina za centriranje elemenata*/
    height: 200px;
    width: 100%;
    display: block;
    margin: 5px auto;
    justify-content: space-between;
}

.info {

    display: flex;
    justify-content: center;
}


.slika-tretmana {
    height: 50px;
    width: 30px;
    display: block;
    margin: 5px auto;
    padding-right: 20px;
    
}

.info {
    margin: 20px;
}

.info a {
    background: black;
    padding: 8px 10px;
    color: pink;
    text-decoration: none;
}

.info a:hover {
    background: gray;
}

.slika-tretmana img {
    border-radius: 10px;
    
}

.meni {
    position: absolute;
    right: 3%;
    color: pink;
}

.meni ul {
    list-style-type: none;
}

.meni ul li {
    font-size: 24px;
    display: inline-block;
    padding: 10px;
}

.meni a {
    color: pink;
    text-decoration: none;
    padding: 10px;
    transition: 1s;
}

.meni a:hover {
    background-color: black;
}



#top {
    position: fixed;
    bottom: 3%;
    right: 3%;
    color: pink;
    background: black;
    padding: 10px;
}
 /* INFO I BEAUTY SAVETI*/
.row {
    margin: 40px;
    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row hr{
    width: 235px;
  }
  .content {
    position: relative;
    text-align: center;
    width:100%;
    margin: 20px;
    background-color:pink;
  }
  
  .content img {
    width: 100%
    
  }
  
  .content .card1 {
    position: absolute;
    bottom: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width:100%;
    padding: 20px;
  }
  .content .card1 .p {
    padding-top: 20px;
    visibility: hidden;
  }
  
#kontakt label, #kontakt input{
    background-attachment: fixed;
    display: block;
}

label{
    font-size: 24px;
}

input, textarea{
    padding: 5px 10px;
    width: 95%;
    margin: 10px;

}

form{
    width: 100%;
    background-color: grey;
    padding: 20px;
}

#submit{
    padding:20px;
    width:100px;
    background: pink;
    border: 0px;
    color: white;
    border-radius: 4px;

}


/* Footer */

.footer {
    background-color: rgba(255, 99, 71, 0.6);
    margin-top: 150px;
    text-align: center;
    height: 160px;
    width: 100%;
  }
  
  .footer span {
    display: flex;
    justify-content: center;
    height: 50px;
  }
  
  .footer img {
    margin: 20px;
  }

  @media screen and (max-width: 414px){ 
    .footer {
        text-align: center;
        height: 170px;
        margin-top: 20px;
        
      }
     
      * {
        box-sizing: border-box;
      }
      
      .container {
        position: absolute;
        width: 500px;
        right: 20px;
        top: 370px;
        
      }
      
      
}
@media (max-width: 768px) {
    .vrste{
        grid-template-rows: auto auto auto;
        grid-template-columns: 80%;
        grid-row-gap: 10px;
    }    
  }




